*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Organic{
    font-size: 2rem;
    color: black;
    text-decoration: none;
    font-family: "Signika Negative", sans-serif;
}
.nav-link{
    margin: 0 10px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
}
.nav-link:hover{
    cursor: pointer;
    border-color: aqua !important;
    color: blueviolet;
    font-family: "Josefin Sans", sans-serif;
}
.search{
    height: 40px;
    width: 80%;
    border-radius: 30px !important;
    outline: none;
    border: 2px solid rgb(268, 26,92);
    margin-right: -35px;
}
.btn0{
    height: 40px;
    width: 40%;
    font-weight: 700;
    color: white;
    outline: none;
    border: none;
    border:  2px solid rgb(268, 26,92);
    border-radius: 60px;
    background-color: red;
    font-family: "Signika Negative", sans-serif;
}
.main{
    background: url('https://images.pexels.com/photos/4955253/pexels-photo-4955253.jpeg?auto=compress&cs=tinysrgb&w=700');
    background-repeat: no-repeat;
    /* height: 100vh; */
    /* height: 800px; */
    height: 91vh;
    object-fit: cover;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
}
.main h1{
    font-weight: bold;
    color: aliceblue;
    font-family: "Josefin Sans", sans-serif;
    font-size: 4rem;
}
.main .btn1{
    border: none;
    outline: none;
    background-color: red;
    color: white;
    height: 45px;
    width: 30%;
    border-radius: 60px;
}

/* product */
h1{
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
}

/* card */
.card:hover{
box-shadow: 10px 6px 109px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 6px 109px 0px rgba(0,0,0,0.75);
box-shadow: 10px 6px 109px 0px rgba(0,0,0,0.75);

}

/* apple */
.apple{
    background: url('https://pbs.twimg.com/media/GPG12MxW4AAcUdb?format=jpg&name=large')no-repeat ;
    background-size: cover;
    width: 100%;
    height: 80vh;
}
.apple h1{
    /* font-family: "Josefin Sans", sans-serif; */
    font-family: "Reddit Mono", monospace;
}

/* news */
.news{
    background-color: black;
    color: white;
}
.btn4 {
    height: 45px;
    width: 100px;
    background-color: white;
    border: 2px solid white;
    font-weight: 600;
    margin-left: -10px;   
}
.news input{
    height: 45px;
    width: 55%;
    background-color: black;
    color: white;
    border: 2px solid white;
    outline: none;
    margin-top: 20px;
    font-weight: 600;
}

.news ::placeholder{
    color: white;
}
.news p{
    margin: 0;
}

i{
    font-size: 30px;
}